* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    text-align: center;
    margin: 8vh 0;
    padding: 2vh 0;
    font-size: 2.5vw;
    color: #f7f7f7;
    border-color: rgb(2, 166, 242);
    border-style: solid;
    border-radius: 12px;
}
.contenedor{
    max-width: 90%;
    margin: auto;
}
.card{
    width: 45vw;
    height:30vh;
    margin: auto;
}
.card > img{
    max-width: 85%;
    height: 20vh;
    margin: 2vh auto;
    box-shadow: 0 0px 25px rgba(2, 166, 242, 0.688);
}
.card-body > h5{
    font-size: 2vw;
    color: #f7f7f7;
    
}
.boton{
    background-color: rgb(2, 166, 242);
    border-color: transparent;
    padding: 0.2vw 1vw;
    border-radius: 10%;
    float: right;
    font-size: 1.5vw;
}
@media (min-width: 768px){
    .card > img{
        max-width: 85%;
        height: 40vh;
        margin: 2vh auto;
        box-shadow: 0 0px 20px rgb(2, 166, 242);
    }
    .boton{
        background-color: rgb(2, 166, 242);
        border-color: transparent;
        padding: 1vw 1.5vw;
        margin: 2vh 1vw 1vw 0;
        border-radius: 10%;
        float: right;
    }
}